.view-style-bar{
  font-size: 12px;
  left: 0;
  right: 0;
  padding-left: 0px;
  padding-right: 0px;
  // margin-right: 10px;
  // margin-left: 10px;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
}
