<!-- <div class='ymca-toolmobile' id='${ToolbarMobileIds.CONTAINER}'>
    <form class='ymca-form'>
        <span class='ymca-tool-mobile-form-header'>
            <span class='ymca-tool-mobile-title'>Additional Filters</span>
            <span class='ymca-spacer'></span>
            <button class='ymca-close-button' type='button' id='ymca-close-toolmobile' aria-label="Close">
                <span>
                    ${closeIcon()}
                </span>
            </button>
        </span>
        <span class='ymca-input-group' id='${ToolbarMobileIds.ZIPCODE}'>
            ${this.renderZipCode()}
        </span>
        </span>
        <span class='ymca-input-group' id='${ToolbarMobileIds.DISTANCE}'>
            ${this.renderDistanceSelect()}
        </span>
        <span class='ymca-input-group' id='${ToolbarMobileIds.AGES}'>
            ${this.renderAgeSelect()}
        </span>
        <span class='ymca-input-group' id='${ToolbarMobileIds.TIMES}'>
            ${this.renderYmcaTimes()}
        </span>
        <span class='ymca-toolmobile-days' id='${ToolbarMobileIds.DAYS}'>
            ${this.renderDays()}
        </span>
        <span class='ymca-additional-filter-search'></span>
        <button class='ymca-button' type='button' id='${ToolbarMobileIds.MOBILE_FILTER_SEARCH}'>Search</button>
    </form>
</div> -->
<div></div>