.ng-mat-ymca-event-abnb{
  background-image: url('/src/assets/graphics/general-graphic.png');
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  border-radius: 20px;
  padding:4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  .ymca-header{
    display:flex;
    flex-flow:column;
  }

  .location-image{
    height:auto;
    width:300px;
  }

  .add-to-cart{
    margin:12px;
  }

  .details{
    display:flex;
    flex-flow:column;
    justify-content: space-evenly;
  }

  .actions{
    display:flex;
    flex-flow:column;
    justify-content: space-between;
  }

  .priority-one{
    display:flex;
    flex-flow:row;
    justify-content: space-between;
  }

  .priority-two{
    display:flex;
    flex-flow:row;
  }

  .priority-three{
    display:flex;
    flex-flow:row;
    justify-content: space-between;
  }

  .detail-item{
    display:flex;
    flex-flow:column;
    align-items: center;
  }

  .priority-one-icon{
    height:32px;
    width:32px;
  }

  .location-image{
    margin:0;
  }

  .mat-spinner{
      width: 24px;
      height: 24px;
      svg{
        width: 24px !important;
        height: 24px !important;
      }
  }

}
