.shopping-cart {

  min-width:500px;

  .ymca-shopping-cart {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .ymca-spacer {
    flex-grow:1;
  }

  .ymca-check-out {
    width: 100%;
  }
}
