.ymca-events {
    display: flex;
    max-width: 100%;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ymca-checkout {
    width: 100%;
}

.ymca-shopping-cart {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.ymca-shopping-cart-empty-message {
    text-align: center;
}

.ymca-spacer{
    flex-grow:1;
}

.ymca-cart-header{
    display:flex;
    flex-flow:space-between;
    flex-direction:row;
}