<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <mat-spinner *ngIf='state.loaded'></mat-spinner>
    <div class='ymca-events-component'>
      <!-- <button mat-raised-button (click)='test()'>Events</button>
      <button mat-button (click)="sidenav.toggle()">Cart</button> -->
      <div class='ymca-events' infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50">
        <app-ymca-event-card *ngFor='let event of events$ | async' id='{{ event.id }}'
          description='{{ event.description }}' startDate='{{ event.startDate }}' endDate='{{ event.endDate }}'
          startTime='{{ event.startTime }}' endTime='{{ event.endTime }}' locationName='{{ event.locationName }}'
          memberOnly='{{ event.memberOnly }}' memberPrice='{{ event.memberPrice }}'
          startingAge='{{ event.startingAge }}' startingAgeType='{{ event.lowAgeType }}'
          endingAge='{{ event.endingAge }}' endingAgeType='{{ event.highAgeType }}' highGrade='{{ event.highGrade }}'
          lowGrade='{{ event.lowGrade }}' nonMemberPrice='{{ event.nonMemberPrice }}' gender='{{ event.gender }}'
          remainingSlots='{{ event.openSlots }}' zipcode='{{ event.zipcode }}'
          distanceToEvent='{{ event.distanceToEvent }}' parentProduct='{{ event.parentProduct }}'
          numberOfClassesPerWeek='{{ event.numberOfClassesPerWeek }}' lowAge='{{ event.lowAge }}'
          highAge='{{ event.highAge }}' monday='{{ event.monday }}' tuesday='{{ event.tuesday }}'
          wednesday='{{ event.wednesday }}' thursday='{{ event.thursday }}' friday='{{ event.friday }}'
          saturday='{{ event.saturday }}' sunday='{{ event.sunday }}'>
        </app-ymca-event-card>
      </div>
      <div class='ymca-empty-events-result' *ngIf='false'>
        <h1 class='ymca-events-empty-msg'>No events were returned, try another filter setting.</h1>
        <div class='ymca-scaling-svg-container'><span class='ymca-scaling-svg'></span></div>
      </div>
      <div class="ymca-maintenance" *ngIf='state.maintenance'>
        <h2 class='ymca-motto'>Honesty. Respect. Caring. Faith. Responsibility</h2>
        <p>We are excited to see you.</p>
        <p> Please check back soon.</p>
      </div>
    </div>
    <div class='ymca-browser-error' *ngIf='browserNotSupported'>
      <div class=''>
        oh oh we do not support your browser.
      </div>
    </div>
    <div class='ymca-browser-error' *ngIf='browserErrorCookiesDisabled'>
      <div class=''>
        oh oh your cookies are disabled.
      </div>
    </div>
    <div class='ymca-empty-events' *ngIf="!(events$ | async)?.length">
      <div class=''>
        No events were returned. Try expanding your filtering.
      </div>
    </div>
    <div class='ymca-something-went-wrong' *ngIf='false'>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
