<div class="ymca-event-card">
  <h2 class="ymca-event-card-title ymca-event-divide">Parent/Child Swim - A - Water Discovery 4 Lessons</h2>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>START - END DATE</label>
    </p>
    <p class="ymca-event-info"><span class="ymca-event-info-high-light">Sep-7-2019</span>
      <span>→</span>
      <span class="ymca-event-info-high-light">Sep-28-2019</span>
    </p>
  </div>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>START - END TIME</label>
    </p>
    <p class="ymca-event-info">
      <span class="ymca-event-info-high-light">09:00 am</span>
      <span>→</span>
      <span class="ymca-event-info-high-light">09:30 am</span>
    </p>
  </div>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>DAYS OF WEEK</label>
    </p>
    <p class="ymca-event-info">
      <span class="ymca-event-info-high-light">Sat</span>
    </p>
  </div>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>CLASSES PER WEEK</label>
    </p>
    <p class="ymca-event-info">
      <span class="ymca-event-info-high-light">1</span>
    </p>
  </div>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>AGE</label>
    </p>
    <p class="ymca-event-info">
      <span class="ymca-event-info-high-light">6 months</span>
      <span>→</span><span class="ymca-event-info-high-light">3 years</span>
    </p>
  </div>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>MEMBER/NON-MEMBER</label>
    </p>
    <p class="ymca-event-info">
      <span>$38.00</span> / <span>$75.00</span>
    </p>
  </div>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>LOCATION</label>
    </p>
    <h3>
      <span class="ymca-event-location">
        Downtown
      </span>
    </h3>
  </div>
  <span class="ymca-spacer"></span>
  <div class="ymca-event-card-actions">
    <p class="ymca-extra-details">ONLY 10 SLOTS LEFT</p>
    <button class="ymca-button ymca-add-to-cart" (click)="addToCart('itemId')">Add to Cart</button>
  </div>
</div>
