<div class="ymca-event-card">
  <h2 class="ymca-event-card-title ymca-event-divide">{{ parentProduct }}</h2>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>START - END DATE</label>
    </p>
    <p class="ymca-event-info"><span class="ymca-event-info-high-light">{{ startDate }}</span>
      <span>→</span>
      <span class="ymca-event-info-high-light">{{ endDate }}</span>
    </p>
  </div>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>START - END TIME</label>
    </p>
    <p class="ymca-event-info">
      <span class="ymca-event-info-high-light">{{ startTime }}</span>
      <span>→</span>
      <span class="ymca-event-info-high-light">{{ endTime }}</span>
    </p>
  </div>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>DAYS OF WEEK</label>
    </p>
    <p class="ymca-event-info">
      <span class="ymca-event-info-high-light">Sat</span>
    </p>
  </div>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>CLASSES PER WEEK</label>
    </p>
    <p class="ymca-event-info">
      <span class="ymca-event-info-high-light">{{ numberOfClassesPerWeek }}</span>
    </p>
  </div>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>AGE</label>
    </p>
    <p class="ymca-event-info">
      <span class="ymca-event-info-high-light">{{ lowAge }}</span>
      <span>→</span><span class="ymca-event-info-high-light">{{ highAge }}</span>
    </p>
  </div>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>MEMBER/NON-MEMBER</label>
    </p>
    <p class="ymca-event-info">
      <span>{{ memberPrice }}</span> / <span>{{ nonMemberPrice }}</span>
    </p>
  </div>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>LOCATION</label>
    </p>
    <h3>
      <span class="ymca-event-location">
        {{ location }}
      </span>
    </h3>
  </div>
  <span class="ymca-spacer"></span>
  <div class="ymca-event-card-actions">
    <p class="ymca-extra-details">ONLY {{ remainingSlots }} SLOTS LEFT</p>
    <button class="ymca-button ymca-add-to-cart" (click)="addToCart()" mat-raised-button>Add to Cart</button>
  </div>
</div>
