<mat-toolbar color="primary" class="repo-info-toolbar">
  <mat-toolbar-row class='options'>
    <img src='./assets/graphics/ymca-logo-sm.png' />
    <button mat-button [matMenuTriggerFor]="menu">Product Catalog Variants</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/original-ymca">Original</button>
      <button mat-menu-item routerLink="/air-bnb">Air BnB</button>
      <button mat-menu-item routerLink="/jupiter">Jupiter</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="references">References</button>
    <mat-menu #references="matMenu">
      <button  mat-menu-item color="accent">
        CompDoc
      </button>
      <a  mat-menu-item color="accent" href='https://documenter.getpostman.com/view/7628800/SW7UaVNo?version=latest'>
        <mat-icon svgIcon="API"></mat-icon>
        RestAPI
      </a>
      <button  mat-menu-item color="accent">
        <mat-icon svgIcon="Storybook"></mat-icon>
        Storybook
      </button>
      <button  mat-menu-item color="accent">
        <mat-icon svgIcon="Jest"></mat-icon>
        Jest
      </button>
      <button  mat-menu-item color="accent">
        <mat-icon svgIcon="AzurePipeline"></mat-icon>
        CI/CD
      </button>
      <button  mat-menu-item color="accent">
        <mat-icon svgIcon="Cypress"></mat-icon>
        E2E
      </button>
      <button  mat-menu-item color="accent">
        <mat-icon svgIcon="Git"></mat-icon>
        Repo
      </button>
      <button  mat-menu-item color="accent">
        Root Documention
      </button>
    </mat-menu>
    <app-shopping-cart-button></app-shopping-cart-button>
  </mat-toolbar-row>
</mat-toolbar>
