<div class='ymca-other-content'>
<mat-toolbar color="primary" class='ymca-top-navigation'>
    <span>YMCA</span>
    <button mat-button>Documentation</button>
    <span style='flex-grow:1;'></span>
    <app-shopping-cart-button></app-shopping-cart-button>
</mat-toolbar>
</div>
<div class='ymca-components' id='ymca-components'>
    <app-toolbar></app-toolbar>
    <!-- <app-view-style-bar></app-view-style-bar> -->
    <!-- <app-ymca-events></app-ymca-events> -->
    <!-- <app-mobile-filter-modal></app-mobile-filter-modal> -->
    <app-snack-bar></app-snack-bar>
    <app-browser-warning></app-browser-warning>
    <app-alert-message></app-alert-message>
</div>
