<mat-drawer-container
  class="ymca-drawer-container"
  autosize
  *ngIf="vm$ | async as vm"
>
  <mat-drawer
    #drawer
    class="ymca-drawer"
    [mode]="mode.value"
    [(opened)]="vm.eventsActionFilterOpened"
  >
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon svgIcon="Filter"></mat-icon> Filter By
        </ng-template>
        <form class="ymca-reactive-form">
          <mat-form-field class="ymca-zipcode-field">
            <span matPrefix>
              <mat-icon svgIcon="ZipCode"></mat-icon> &nbsp;
            </span>
            <input
              matInput
              placeholder="ZipCode"
              [(value)]="vm.searchCriteria.zipCode"
              autocomplete="off"
              maxlength="5"
              (input)="search()"
              pattern="”[0–9]*”"
              inputmode="numeric"
              #zipCode
            />
          </mat-form-field>
          <!-- <button mat-button type='button' class='geolocation-button'>Use current location</button> -->
          <mat-form-field class="ymca-distance-field">
            <span matPrefix>
              <mat-icon svgIcon="Distance"></mat-icon>&nbsp;
            </span>
            <mat-label>Distance</mat-label>
            <mat-select
              (selectionChange)="
                ymcaEventFacade.setState('distance', $event.value)
              "
              [(value)]="vm.searchCriteria.distance"
            >
              <mat-option
                *ngFor="let distance of distances"
                [value]="distance.value"
                >{{ distance.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field
            class="ymca-age-field"
            *ngIf="toolbarConfiguration != 'Sports'"
          >
            <span matPrefix> <mat-icon svgIcon="Age"></mat-icon>&nbsp;</span>
            <mat-label>Age</mat-label>
            <mat-select
              (selectionChange)="ymcaEventFacade.setState('age', $event.value)"
              [(value)]="vm.searchCriteria.age"
            >
              <mat-option *ngFor="let age of ages" [value]="age.value">{{
                age.viewValue
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field
            class="ymca-time-field"
            *ngIf="toolbarConfiguration != 'Sports'"
          >
            <span matPrefix> <mat-icon svgIcon="Time"></mat-icon> &nbsp; </span>
            <mat-label>Time</mat-label>
            <mat-select
              (selectionChange)="ymcaEventFacade.setState('time', $event.value)"
              [(value)]="vm.searchCriteria.time"
            >
              <mat-option *ngFor="let time of times" [value]="time.value">{{
                time.viewValue
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="ymca-distance-field">
            <span matPrefix>
              <mat-icon svgIcon="Discounted"></mat-icon>&nbsp;
            </span>
            <mat-label>Discounted</mat-label>
            <mat-select
              (selectionChange)="
                ymcaEventFacade.setState(
                  'searchCriteria.discounted',
                  $event.value
                )
              "
            >
              <mat-option
                *ngFor="let discount of discounts"
                [value]="discount.value"
                >{{ discount.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field
            class="ymca-time-field"
            *ngIf="toolbarConfiguration != 'Sports'"
          >
            <span matPrefix>
              <mat-icon svgIcon="Gender"></mat-icon> &nbsp;
            </span>
            <mat-label>Gender</mat-label>
            <mat-select
              (selectionChange)="
                ymcaEventFacade.setState('gender', $event.value)
              "
              [(value)]="vm.searchCriteria.gender"
            >
              <mat-option
                *ngFor="let gender of genders"
                [value]="gender.value"
                >{{ gender.viewValue }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="toolbarConfiguration != 'Sports'">
            <span matPrefix> <mat-icon svgIcon="Days"></mat-icon> &nbsp; </span>
            <mat-label>Days of the Week</mat-label>
            <mat-select [formControl]="days" multiple>
              <mat-option *ngFor="let day of daysList" [value]="day">{{
                day
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <span matPrefix> <mat-icon svgIcon="Days"></mat-icon> &nbsp; </span>
            <mat-label>Location</mat-label>
            <mat-select
              (selectionChange)="
                ymcaEventFacade.setState(
                  'searchCriteria.location',
                  $event.value
                )
              "
              [(value)]="vm.searchCriteria.location"
            >
              <mat-option
                *ngFor="let location of locations"
                [value]="location.value"
                >{{ location.viewValue }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </form>
      </mat-tab>
      <mat-tab class="ymca-reactive-form">
        <ng-template mat-tab-label>
          <mat-icon svgIcon="Sort"></mat-icon>Sort By
        </ng-template>
        <div class="ymca-reactive-form">
          <mat-button-toggle-group
            class="sorting-options"
            name="sortOptions"
            aria-label="Sort Options"
          >
            <mat-button-toggle value="age"
              ><mat-icon svgIcon="Age"></mat-icon>Age</mat-button-toggle
            >
            <mat-button-toggle value="distance"
              ><mat-icon svgIcon="Distance"></mat-icon
              >Distance</mat-button-toggle
            >
            <mat-button-toggle value="eventName"
              ><mat-icon svgIcon="Name"></mat-icon>Event Name</mat-button-toggle
            >
            <mat-button-toggle value="date"
              ><mat-icon svgIcon="Date"></mat-icon>Date</mat-button-toggle
            >
            <mat-button-toggle value="date"
              ><mat-icon svgIcon="Price"></mat-icon>Price</mat-button-toggle
            >
          </mat-button-toggle-group>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer>
  <div class="example-sidenav-content">
    <app-search-results-meta-data></app-search-results-meta-data>
    <app-ymca-events class="ymca-events"></app-ymca-events>
  </div>
</mat-drawer-container>
