.ymca-drawer-container {

  .ymca-reactive-form{
    display: flex;
    flex-flow: column;
    margin: 8px;

    .sorting-options{
      display:flex;
      flex-flow:column;
    }
  }

  .mat-button-toggle{
    text-align: right;
  }

}
