<mat-sidenav-container class="ymca-events-container" *ngIf="(vm$ | async) as vm">
  <mat-sidenav-content class='ymca-events'>
    <mat-spinner *ngIf='vm.loading'></mat-spinner>
    <div class='ymca-empty-events-result' *ngIf='vm.errored'>
      <h1 class='ymca-events-empty-msg'>An error occured. Please check your network connection.</h1>
      <div class='ymca-scaling-svg-container'><span class='ymca-scaling-svg'>
        <mat-icon svgIcon='NetworkError'></mat-icon>
      </span></div>
    </div>
    <div class='ymca-empty-events-result' *ngIf='vm.ymcaEvents?.length == 0 && !vm.loading && !vm.errored'>
      <h1 class='ymca-events-empty-msg'>No events were returned, try another filter setting.</h1>
      <div class='ymca-scaling-svg-container'>
        <span class='ymca-scaling-svg'>
          <mat-icon svgIcon='NoResults'></mat-icon>
        </span>
    </div>
    </div>
      <div class='ymca-filtered-events'infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" *ngIf='!vm.loading'>
        <app-ng-mat-ymca-event-abnb *ngFor="let event of vm.ymcaEvents" class='ymca-event'
          id='{{ event.id }}'
          description='{{ event.description }}'
          startDate='{{ event.startDate }}'
          endDate='{{ event.endDate }}'
          startTime='{{ event.startTime }}'
          endTime='{{ event.endTime }}'
          locationName='{{ event.locationName }}'
          memberPrice='{{ event.memberPrice }}'
          startingAgeType='{{ event.lowAgeType }}'
          endingAgeType='{{ event.highAgeType }}'
          highGrade='{{ event.highGrade }}'
          lowGrade='{{ event.lowGrade }}'
          nonMemberPrice='{{ event.nonMemberPrice }}'
          gender='{{ event.gender }}'
          remainingSlots='{{ event.openSlots }}'
          zipcode='{{ event.locationZipCode }}'
          distanceToEvent='{{ event.distance }}'
          parentProduct='{{ event.parentProduct }}'
          numberOfClassesPerWeek='{{ event.numberOfClassesPerWeek }}'
          lowAge='{{ event.lowAge }}'
          highAge='{{ event.highAge }}'
          monday='{{ event.monday }}'
          tuesday='{{ event.tuesday }}'
          wednesday='{{ event.wednesday }}'
          thursday='{{ event.thursday }}'
          friday='{{ event.friday }}'
          saturday='{{ event.saturday }}'
          sunday='{{ event.sunday }}'
          >
        </app-ng-mat-ymca-event-abnb>
      </div>
      <div class="ymca-maintenance" *ngIf='state.maintenance'>
        <h2 class='ymca-motto'>Honesty. Respect. Caring. Faith. Responsibility</h2>
        <p>We are excited to see you.</p>
        <p> Please check back soon.</p>
      </div>
    <div class='ymca-browser-error' *ngIf='browserNotSupported'>
      <div class=''>
        oh oh we do not support your browser.
      </div>
    </div>
    <div class='ymca-browser-error' *ngIf='browserErrorCookiesDisabled'>
      <div class=''>
        oh oh your cookies are disabled.
      </div>
    </div>
    <div class='ymca-something-went-wrong' *ngIf='false'>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
