<mat-card class="ng-mat-ymca-event-abnb" *ngIf="vm$ | async as vm">
  <mat-card-header class="ymca-header">
    <mat-card-title>
      <mat-icon class="icon" svgIcon="Sports" mat-card-avatar></mat-icon>
      {{ parentProduct }}
    </mat-card-title>
    <mat-card-subtitle>
      <a mat-button routerLink="." class="location">
        <mat-icon class="icon" svgIcon="Location"></mat-icon>
        <span class="name">{{ locationName }} </span>
      </a>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <mat-chip-list aria-label="Early Registration">
        <mat-chip color="warn" selected>3 Slots Remaining</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
    <img
      mat-card-image
      src="assets/graphics/ymca-locations/oveido.png"
      alt="Photo of a Shiba Inu"
      class="location-image"
    />
    <!-- <mat-card-subtitle *ngIf="earlyRegistration == 'true'"
      >Early Registration!</mat-card-subtitle
    > -->
  </mat-card-header>
  <mat-card-content class="details">
    <div class="priority-one">
      <div class="time-range detail-item">
        <span class="label">Time</span>
        <mat-icon class="priority-one-icon" svgIcon="Time"></mat-icon>
        <div>
          <span>{{ startTime }}</span>
          <mat-icon class="icon" svgIcon="RightArrow"></mat-icon>
          <span>{{ endTime }}</span>
        </div>
      </div>
      <div class="date-range detail-item">
        <span class="label">Date</span>
        <mat-icon class="priority-one-icon" svgIcon="Date"></mat-icon>
        <div>
          <span>{{ startDate }}</span>
          <mat-icon class="icon" svgIcon="RightArrow"></mat-icon>
          <span>{{ endDate }}</span>
        </div>
      </div>
    </div>
    <div class="priority-two">
      <mat-chip-list>
        <mat-chip>Mon</mat-chip>
        <mat-chip color="accent">Tue</mat-chip>
        <mat-chip>Wed</mat-chip>
        <mat-chip>Thu</mat-chip>
        <mat-chip color="primary">Fri</mat-chip>
        <mat-chip>Sat</mat-chip>
        <mat-chip>Sun</mat-chip>
      </mat-chip-list>
    </div>
    <div class="priority-three">
      <div class="age detail-item">
        <span class="label">Age</span>
        <mat-icon class="icon" svgIcon="Age"></mat-icon>
        <span class="value">
          <span class="ymca-event-info-high-light" *ngIf="lowAge != '0'"
            >{{ lowAge }} {{ startingAgeType }}</span
          >
          <span *ngIf="!highAge"> or older</span>
          <span *ngIf="lowAge && lowAge != '0'"
            ><mat-icon class="icon" svgIcon="RightArrow"></mat-icon
          ></span>
          <span class="ymca-event-info-high-light"
            >{{ highAge }} {{ endingAgeType }}</span
          >
          <span *ngIf="!lowAge || lowAge == '0'"> or younger</span>
        </span>
      </div>
      <div class="grade detail-item">
        <span class="label">Grade</span>
        <mat-icon class="icon" svgIcon="Grade"></mat-icon>
        <span class="value">
          <span>{{ lowGrade }}</span>
          <mat-icon class="icon" svgIcon="RightArrow"></mat-icon>
          <span>{{ highGrade }}</span>
        </span>
      </div>
      <div class="gender detail-item">
        <span class="label" aria-label="Required gender for event">Gender</span>
        <mat-icon class="icon" svgIcon="Gender"></mat-icon>
        <span class="value">
          <span>{{ gender }}</span>
        </span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions">
    <span class="distance">5 Mi</span>
    <button
      mat-raised-button
      color="primary"
      (click)="shoppingCartFacade.addCartItem(id).subscribe()"
      class='add-to-cart'
    >
      <mat-icon svgIcon="AddToCart"></mat-icon> Add
      <!-- <mat-icon>
        <mat-spinner color='accent' class='button-spinner' style='height:24px; width:24px;'></mat-spinner>
      </mat-icon> -->
    </button>
  </mat-card-actions>
</mat-card>
