#ymca-components{
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    margin:10vw;
}

.ymca-other-content{
    height:100vh;
}
