<div class="ymca-filters-form">
  <!-- <span class='zip-code-entry'>
        <mat-form-field class="ymca-zipcode-field">
            <input matInput placeholder="ZipCode" [value]="zipcode" autocomplete="off" maxlength='5' (input)="search()"
                #zipCode>
        </mat-form-field>
    </span>
    <span class='ymca-distance-flex-item'>
        <mat-form-field class='ymca-distance-field'>
            <mat-label>Distance</mat-label>
            <mat-select>
                <mat-option *ngFor="let distance of distances" [value]="distance.value">{{distance.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </span> -->
  <span class="ymca-age-entry">
    <mat-form-field class="ymca-age-field">
      <mat-label>Age</mat-label>
      <mat-select>
        <mat-option *ngFor="let age of ages" [value]="age.value">{{
          age.viewValue
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </span>
  <span class="ymca-time-entry">
    <mat-form-field class="ymca-time-field">
      <mat-label>Time</mat-label>
      <mat-select>
        <mat-option *ngFor="let time of times" [value]="time.value">{{
          time.viewValue
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </span>
  <span class="ymca-days-filter-entry">
      <mat-form-field>
          <mat-label>Days of the Week</mat-label>
          <mat-select [formControl]="days" multiple>
            <mat-option *ngFor="let day of daysList" [value]="day">{{day}}</mat-option>
          </mat-select>
        </mat-form-field>
  </span>
</div>
