.ymca-toolbar{
    font-size:12px;
    form{
        width:100%;
    }
}

.ymca-reactive-form{
    display:flex;
    justify-content: center;
    flex-direction: row;
    width:100%;
}

.ymca-spacer{
    flex-grow:1;
}

.ymca-days-entry{
    align-self:center;
}