.ymca-toolbar {
  font-size: 12px;
  position:sticky;
  form {
    width: 100%;
  }
}

.ymca-reactive-form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.ymca-spacer {
  flex-grow: 1;
}

.ymca-days-entry, .ymca-modal-filter {
  align-self: center;
}

@media only screen and (min-width: 1250px) {
  .ymca-modal-filter {
    display: none;
  }
}

@media only screen and (max-width: 1250px) {
  .ymca-age-entry,
  .ymca-time-entry,
  .ymca-days-entry {
    display: none;
  }
}
