<div class="ymca-event-card">
  <h2 class="ymca-event-card-title ymca-event-divide">{{ parentProduct }}</h2>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>START - END DATE</label>
    </p>
    <p class="ymca-event-info"><span class="ymca-event-info-high-light">{{ startDate }}</span>
      <span>→</span>
      <span class="ymca-event-info-high-light">{{ endDate }}</span>
    </p>
  </div>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>START - END TIME</label>
    </p>
    <p class="ymca-event-info">
      <span class="ymca-event-info-high-light">{{ startTime }}</span>
      <span>→</span>
      <span class="ymca-event-info-high-light">{{ endTime }}</span>
    </p>
  </div>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>DAYS OF WEEK</label>
    </p>
    <p class="ymca-event-info">
      <span class="ymca-event-info-high-light">Mon</span>
      <span class="ymca-event-info-high-light">Tue</span>
      <span class="ymca-event-info-high-light">Wed</span>
      <span class="ymca-event-info-high-light">Thu</span>
      <span class="ymca-event-info-high-light">Fri</span>
      <span class="ymca-event-info-high-light">Sat</span>
      <span class="ymca-event-info-high-light">Sun</span>
    </p>
  </div>
  <div class="ymca-event-info-section ymca-event-divide" *ngIf='numberOfClassesPerWeek'>
    <p>
      <label>CLASSES PER WEEK</label>
    </p>
    <p class="ymca-event-info">
      <span class="ymca-event-info-high-light">{{ numberOfClassesPerWeek }}</span>
    </p>
  </div>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>AGE</label>
    </p>
    <p class="ymca-event-info">
      <span class="ymca-event-info-high-light" *ngIf="lowAge != '0'">{{ lowAge }} {{ startingAgeType}}</span>
      <span *ngIf='!highAge'> or older</span>
      <span *ngIf="lowAge && lowAge != '0'">→</span>
      <span class="ymca-event-info-high-light">{{ highAge }} {{ endingAgeType }}</span>
      <span *ngIf="!lowAge || lowAge == '0'"> or younger</span>
    </p>
  </div>
  <div class="ymca-event-info-section ymca-event-divide">
    <p class='ymca-event-prices'>
      <label>MEMBER/NON-MEMBER</label>
      <label *ngIf="earlyRegistration">EARLY REGISTRATION!</label>
    </p>
    <div class="ymca-event-info ymca-event-prices">
      <div>
          <span [ngClass]='earlyRegistrationStrike()'>${{ memberPrice }}</span> / <span [ngClass]='earlyRegistrationStrike()'>${{ nonMemberPrice }}</span>
      </div>
      <div *ngIf="earlyRegistration">
          <span>${{ memberPrice }}</span> / <span>${{ nonMemberPrice }}</span>
      </div>
    </div>
  </div>
  <div class="ymca-event-info-section ymca-event-divide">
    <p>
      <label>LOCATION</label>
    </p>
    <h3>
      <span class="ymca-event-location">
        {{ locationName }}
      </span>
    </h3>
  </div>
  <span class="ymca-spacer"></span>
  <div class="ymca-event-card-actions">
    <p class="ymca-extra-details" *ngIf='remainingSlots'>ONLY {{ remainingSlots }} SLOTS LEFT</p>
    <button class="ymca-button ymca-add-to-cart" (click)="addToCart()" mat-raised-button mat-button>Add to Cart</button>
  </div>
</div>
