<mat-sidenav-container class="shopping-cart" *ngIf="vm$ | async as vm">
  <mat-sidenav-content></mat-sidenav-content>
  <mat-sidenav
    #sidenav
    mode="over"
    [fixedInViewport]="true"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
    position="end"
    [(opened)]="vm.cartOpen"
  >
    <div class="ymca-shopping-cart">
      <div class="ymca-cart-header">
        <button
          mat-icon-button
          (click)="shoppingCartFacade.toggleCart()"
        >
          <mat-icon svgIcon="Close"></mat-icon>
        </button>
        <span>Your Shopping Cart</span>
      </div>
      <mat-divider></mat-divider>
      <div
        class="ymca-shopping-cart-empty-message"
        *ngIf="vm.cartItems?.length === 0 && !vm.loading"
      >
        Your Cart is Empty....
        <mat-icon svgIcon="EmptyCart" class="emptyCart"></mat-icon>
      </div>
      <!-- <mat-list-item *ngFor="let item of vm.cartItems" class="cart-item-line">
        <mat-icon mat-list-icon svgIcon="Camps"></mat-icon>
        <div mat-line>{{ item.parentProduct }} : {{ item.familyProduct }}</div>
        <div mat-line>{{ item.startDate }} -> {{ item.endDate }}</div>
        <div mat-line><button mat-button>Delete</button></div>
        <mat-divider></mat-divider>
      </mat-list-item> -->
      <mat-accordion>
        <mat-expansion-panel *ngFor="let item of vm.cartItems" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ item.parentProduct }}
            </mat-panel-title>
            <mat-panel-description>
              {{ item.familyProduct }}
            </mat-panel-description>
          </mat-expansion-panel-header>
            {{ item.startDate }} -> {{ item.endDate }}
          <button mat-raised-button (click)="shoppingCartFacade.deleteCartItem(item.id)" color="primary">Delete</button>
        </mat-expansion-panel>
      </mat-accordion>
      <span class="ymca-spacer"></span>
      <a
        mat-raised-button
        class="ymca-checkout"
        color="primary"
        href="{{ communityURL }}"
        [disabled]="vm.cartItems?.length === 0"
        >Check Out</a
      >
    </div>
  </mat-sidenav>
</mat-sidenav-container>
